<?xml version="1.0" encoding="##ENCODING##"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>ddShoppingCartPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>This plugin provide the capability to create a shopping cart based website.
You can use the another plugin together with this: "[ddOnlineStorePlugin](http://www.symfony-project.org/plugins/ddOnlineStorePlugin "ddOnlineStorePlugin")" to make an ecommerce solution.</summary>
  <description>This plugin provide the capability to create a shopping cart based website.
You can use the another plugin together with this: "[ddOnlineStorePlugin](http://www.symfony-project.org/plugins/ddOnlineStorePlugin "ddOnlineStorePlugin")" to make an ecommerce solution.</description>
  <lead>
    <name>Diego Damico</name>
    <user>songecko</user>
    <email>songecko@gmail.com</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.3.0</min>
        <max>2.0.0</max>
        <exclude>2.0.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <version>
        <release>1.0.0</release>
        <api>1.0.0</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <date>2011-07-28</date>
      <license uri="http://www.symfony-project.org/license">MIT license</license>
      <notes>
        * initial stable code for the plugin
      </notes>
    </release>
  </changelog>
</package>